<div class="gallery-container" *ngIf="!loading">
  <div class="gallery-content">
    <div class="gallery-image" *ngFor="let image of galleryImage; index as i">
      <img
        [src]="image.imageSrc"
        [alt]="image.imageAlt"
        (click)="onPreviewImage(i)"
      />
    </div>
  </div>

  <div *ngIf="previewImage" class="preview" @opacityImg>
    <span *ngIf="showCounter" class="counter">
      {{ currentIndex + 1 }} de {{ galleryImageLength }}
    </span>

    <button class="close-btn" (click)="onClosePreview()">
      <i class="fas fa-times"></i>
    </button>

    <button class="btn-preview-carousel btn-prev" (click)="onPreviousImage()">
      <i class="fas fa-arrow-circle-left icon-preview-carousel icon-prev"></i>
    </button>

    <button class="btn-preview-carousel btn-next" (click)="onNextImage()">
      <i class="fas fa-arrow-circle-right icon-preview-carousel icon-next"></i>
    </button>

    <div
      [@scaleImg]="{ value: 'visible' }"
      (@scaleImg.done)="onAnimationEnd($event)"
      class="preview-img"
    >
      <img
        [src]="currentPreviewImage.imageSrc"
        [alt]="currentPreviewImage.imageAlt"
      />
    </div>

    <div class="info-container">
      <small>
        <i class="fa fa-info-circle me-2"></i>
        {{ currentPreviewImage.imageInfo }}
      </small>
    </div>
  </div>
</div>
