.gallery-container {
  padding: 25px;
}

.gallery-content {
  column-count: 3;
  column-gap: 30px;

  .gallery-image img {
    width: 100%;
    height: auto;
    cursor: zoom-in;
    border-radius: 0.5rem;
    margin-bottom: 30px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }
}

.preview {
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);

  .counter {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 5%;
    left: 3%;

    width: fit-content;
    color: #fff;
    opacity: 0.7;
    font-size: 18px;
    font-size: 1.3rem;
  }

  .info-container {
    position: absolute;
    bottom: 0.5rem;
    left: 0;

    background: rgba(0, 0, 0, 0.5);
    padding: 1rem 1.5rem;
    margin: 0 4rem;
    border-radius: 0.5rem;

    small {
      color: #fff;
      font-size: 1.3rem;
      font-family: "Roboto", sans-serif;
    }
  }

  .close-btn {
    position: absolute;
    top: 5%;
    right: 3%;

    color: #fff;
    background: 0 0;
    border: 0;
    cursor: pointer;
    z-index: 2;

    .fa-times {
      font-size: 1.5rem;
    }
  }

  .btn-preview-carousel {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;

    width: 8%;
    height: 8%;
    color: #fff;
    background: 0 0;
    border: 0;
    z-index: 1;
    cursor: pointer;
  }

  .btn-prev {
    left: 0;
  }

  .btn-next {
    right: 0;
  }

  .icon-preview-carousel {
    color: #fff;
    opacity: 0.5;
    transition: all 0.15s ease;
  }

  .icon-preview-carousel:hover {
    opacity: 0.9;
  }

  .icon-preview-carousel:active {
    opacity: 0.5;
  }

  .icon-prev,
  .icon-next {
    font-size: 2rem;
  }

  .preview-img img {
    width: 100%;
    border-radius: 0.5rem;
  }
}

.fa-info-circle {
  font-size: 1.4rem;
}

@media screen and (max-width: 1024px) {
  .gallery-container {
    .gallery-content {
      column-count: 2;
      width: 100%;
    }

    .preview-img {
      max-width: 90%;
    }
  }
}

@media screen and (max-width: 800px) {
  .gallery-container {
    .gallery-content {
      column-count: 2;
    }
  }
}

@media screen and (max-width: 650px) {
  .gallery-container {
    .gallery-content {
      column-count: 1;
    }
  }
}
