<header class="header-container">
  <mat-toolbar color="primary" class="mat-elevation-z6">
    <div>
      <i class="fa fa-camera-retro me-2 mat-elevation-z8"></i>
      <span>Galeria de Fotos</span>
    </div>

    <div>
      <a href="https://github.com/DaniloTeixeira" target="_blank">
        <i class="fab fa-github"> </i>
      </a>
      <a
        href="https://www.linkedin.com/in/danilo-rodrigues-teixeira/"
        target="_blank"
      >
        <i class="fab fa-linkedin"> </i>
      </a>
    </div>
  </mat-toolbar>
</header>
